:root {
    --text-outline: 1px 1px #272f5d, -1px 1px #272f5d, 1px -1px #272f5d, -1px -1px #272f5d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;
    font: 13px/100% 'Calibri', 'Helvetica', 'Arial', sans-serif;
    color: #232323;
    padding: 0;
    margin: 0;
}

header {
    height: 150px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    border-bottom: 1px solid #6e6ada;
}

header h1 {
    font: 90px/100% 'Darker Grotesque', sans-serif;
    color: white;
    text-shadow: 1px 1px #3e3a9b, -1px 1px #3e3a9b, 1px -1px #3e3a9b, -1px -1px #3e3a9b;
}

.topsearch,
.tophistory {
    background: #e5e5e5;
    border-bottom: 1px solid #cdcdcd;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tophistory { 
    background: #eaeaea;
}

.active-purple-2 input.form-control[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
    width: 95% !important;
  }
  .active-purple input.form-control[type=text] {
    border-bottom: 1px solid #ce93d8;
    box-shadow: 0 1px 0 0 #ce93d8;
    width: 95% !important;
  }

  input[type=text] {
      width: 95% !important;
  }

  button#search-city {
      border: 0; 
      outline: 0; 
  }

  .active-purple .fas, .active-purple-2 .fas {
    color: #ce93d8;
  }

  .md-form {
      margin: 0 auto; 
  }
  
  .pill {
      padding: 10px 20px;
      border: 1px solid #cdcdcd;
      background: #efefef;
      font: 11px/100% 'Calibri', sans-serif;
      color: #ababab;
      letter-spacing: 2px;
      text-transform: uppercase;
      transition: all .5s ease;
      margin-right: 5px; 
  }

.pill:hover {
    border-color: #ee6fcb;
}

.card,
.weather-card {
    max-width: 52rem;
    min-height: 23rem;
    -webkit-box-shadow: 0 0 0 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    box-shadow: 0 0 0 0 rgba(0,0,0,0.16), 0 0 0 0 rgba(0,0,0,0.12);
    margin: 20px auto; 
    border: 1px solid #3e3a9b; 
    flex-flow: column nowrap; 
    color: white;
}

.card {
    overflow: hidden; 
    border-radius: 10px;
}

.card.weather-card .degree {
    margin-bottom: 10px; 
    text-shadow: var(--text-outline);
}

.card.weather-card .degree:after {
    content: '°F';
    position: absolute;
    font-size: 3rem;
    margin-top: .9rem;
    font-weight: 400;
}

.weather-card {
    padding: 50px 10px;
    position: relative; 
    z-index: 1; 
    align-items: center; 
}

.weather-icon {
    position: absolute;
    top: -50px;
    left: 100px; 
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font-size: 600px; 
    transform: rotate(26deg); 
    z-index: -1; 
}

.icon-color {
    color: #01599d;
    text-shadow: 2px 2px white; 
    opacity: 0.3; 
    mix-blend-mode: overlay; 
}

.card-title {
    font: bold 50px/100% 'Darker Grotesque', sans-serif; 
    text-shadow: var(--text-outline);
    letter-spacing: 2px; 
}

.date {
    margin-bottom: 50px; 
    font-size: 14px; 
}

.collapsing,
.collapse.show {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly; 
    width: 45rem;
}

.future-weather {
    width: 100%;
    box-sizing: border-box;
	margin-top: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	font-size: 14px;
}

.weekday1,
.weekday2,
.weekday3,
.weekday4,
.weekday5 {
	text-shadow: var(--text-outline);
}

.future-weather i {
	margin-right: 10px;
}

.future-weather:last-child {
    border-bottom: 0;
}

.card.weather-card .collapse-content a.collapsed:after {
    content: 'This Week ↓';
    font-size: 15px; 
}

.card.weather-card .collapse-content a:not(.collapsed):after {
    content: 'Close ↑';
    margin: auto; 
    font-size: 15px; 
}

a.btn,
a.btn:hover,
a.btn:focus,
a.btn:active,
a.collapsed {
    display: block; 
    box-shadow: unset; 
    text-align: center;
    margin: 0 auto; 
    width: 100px; 
}

.toggle-btn {
    background: transparent; 
    align-self: flex-start;
    margin: 0 auto; 
}

.alert {
    font: bold 20px/100% 'Darker Grotesque', sans-serif;
    color: red;
    opacity: 0; 
    margin: 0px auto; 
    transition: all .5s ease; 
}

.quick-facts {
    font-size: 18px; 
    display: flex;
    flex-flow: row wrap; 
}

.text-info {
    color: #8bdfff !important;
}

.humidity:after {
    content: '% humidity';
}

.wind-speed:after {
    content: 'kt';
}

#current-weather {
    text-align: center;
    font-size: 30px; 
    margin-bottom: 50px; 
}

.uv-favorable {
    color: #4b9c6f !important;
}

.uv-moderate {
    color: #d1b256 !important;
}

.uv-severe,
.uv-vhigh,
.uv-extreme {
    color: #9c4856 !important;
}

.inner-card {
    padding: 10px;
    background: #397ac7;
    border-radius: 10px;
    opacity: 0.9;
    margin: 5px; 
    height: 230px; 
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-between; 
    position: relative;
    overflow: hidden;
    border: 1px solid #3c61db;
}

.big-icon1,
.big-icon2,
.big-icon3,
.big-icon4,
.big-icon5 {
    position: absolute;
    left: 0;
    top: 0; 
    font-size: 150px; 
    transform: rotate(40deg); 
    z-index: 0; 
    color: #01599d;
    text-shadow: 2px 2px white; 
    opacity: 0.3; 
    mix-blend-mode: overlay;  
}